<div class="text-center" >
  <h1> Welcome to FromVanToCar <h1>
  <p>You can transport all transportable<p>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "maleta.jpg", class:"d-block w-100", alt:"First slide"%>
  </div>
  <div class="carousel-item">
    <%= image_tag "aventura.jpg", class:"d-block w-100", alt:"First slide"%>
    <div class="carousel-caption d-none d-md-block">
      <h6>Photo by Nubia Navarro (nubikini) from Pexels</h6>
    </div>
  </div>
  <div class="carousel-item">
    <%= image_tag "truck.jpg", class:"d-block w-100", alt:"First slide"%>
  </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="text-center">
<br>
  <h2>It is a platform which conects people who need to make any
  type of removal or transfer of objects with
  people who have the appropriate vehicle to carry it out.</h2>
</div>