
<div class="bg">
<h1>New Vehicle</h1>

<div class="text">
<%= render 'form', vehicle: @vehicle %>

<%= link_to 'Back', vehicles_path %>
</div>
</br></br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>

